.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left left-mid right-mid right"
      "left left-mid right-mid right"
      "left left-mid right-mid right";
  }
  .left { grid-area: left; }
  .left-mid { grid-area: left-mid; }
  .right-mid { grid-area: right-mid; }
  .right { 
    grid-area: right; 
  }
  .right-mid {
    text-align: right;
  }

  .images img {
    width: 100%;
    object-fit: cover;
  }

  .top {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-repeat: repeat-y; */
    /* background-image: url("https://backend.roundshot.com/cams/19bbc62d60b23cf8e9fbdbddb275e7e8/medium"); */
  }
  
  .feed-item-title {
    font-size: 14px;
    text-align: left;
  }

  .right-top {
    white-space:pre-wrap;
    padding-left: 10px;
  }