.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left left-mid right-mid right"
      "left left-mid right-mid right"
      "left left-mid right-mid right";
  }
  .left { grid-area: left; }
  .left-mid { grid-area: left-mid; }
  .right-mid { grid-area: right-mid; }
  .right { 
    grid-area: right; 
  }
  .right-mid {
    text-align: right;
  }

  .images img {
    width: 100%;
    object-fit: cover;
  }

  .top {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .feed-item-title {
    font-size: 12px;
  }